<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Sklep</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mx-auto w-50 p-3 bg-dark text-white text-center">
                <h1> Zamówienie </h1>
                <p>
                    Pełen Koszt: <span id="myText"></span> zł
                    <script>
                        var x = {{ order.price_grosze }}/100
                        x = x.toFixed(2)
                        document.getElementById("myText").innerHTML = x;
                    </script>
                </p>
                <p> Tutuł Przelewu: {{order.req_title}}</p>
                <p> Numer Konta: MC269138034277L2C0874961O66</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mx-auto w-50 p-3 bg-dark text-white text-center">

            <h2> 
                <u>Produkty</u> 
            </h2> 
            <h4 id='alldata'></h4><br> 
            <h5 id='price'></h5>
            </div>
        </div>
    </div>
</body>
</html>
<script> 
    var InsideCart = JSON.parse("{{order.product_container|escapejs}}"); 
    
    var InsideCartQuantity = JSON.parse("{{order.product_ammounts|escapejs}}"); 

    var InsideCartPrice = JSON.parse("{{order.product_prices|escapejs}}"); 
 
    dataNode = document.getElementById('alldata');
    var totall = 0;
    for(var x in InsideCart){ 
        dataNode.innerHTML+=InsideCart[x]+ " Ile: "+ InsideCartQuantity[x]+ " Koszt: " + ((InsideCartPrice[x])/100).toFixed(2) +'<br><br>';
        totall += InsideCartPrice[x] * InsideCartQuantity[x];
    }
    dataNode = document.getElementById('price');
    dataNode.innerHTML = "Koszt Całości: " + ((totall)/100).toFixed(2);

</script>