<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Sklep</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mx-auto w-50 p-3 bg-dark text-white text-center">
                <h1> {{ item.product_name }} </h1>
                <p>
                    Cena: <span id="myText"></span> zł
                    <script>
                        var x = {{ item.price_grosze }}/100
                        x = x.toFixed(2)
                        document.getElementById("myText").innerHTML = x;
                    </script>
                </p>
                <p>{{ item.product_description }}</p>
                <p> Dostępne: {{ item.how_many_in_storage }} </p>
                <a href="cart" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Dodaj Do Koszyka </a>

</div>
        </div>
    </div>
</body>
</html>
